/* element selector */
* { 
    box-sizing: border-box;
}
body{
    background-color: pink;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:white;
}

/* media query */
/* tablet: layout yg ditampilkan 2 kolom */
@media screen and (min-width: 600px) {
    body{
        background-color: crimson;
    }
    .col-sm-6 {
        width: 50%;
        float: left;
    }
    .col-sm-12{
        width: 100%;
        float: left;
    }
    


}
/* desktop: layout yang ditampilkan 4kolom */
@media screen and (min-width: 992px) {
    body{
        background-color:darkgrey;
    }
    .col-lg-3 {
    width: 25%;
    float: left;
}
    .col-lg-6{
    width: 50%;
    float: left;
}
    .col-sg-4{
    width: 33,3%
    float: left;
}

    
}
    

/* class selector */
.text-primary{
    color: plum;
}

.col-50{
    width: 50%;
    float: left;
}

.img-responsive{
    width: 100%;
    max-height: 500px;
}

.circle{
    border-radius: 50%;
}
.rounded{
    border-radius: 50%;
}
.p-1{
    padding: 10px;
}

.row::after{
    content: "";
    clear: both;
    display: table;
}